<head>
  <link rel="icon" type="image/svg+xml"
    href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEzIDlWM2g4djZoLThaTTMgMTNWM2g4djEwSDNabTEwIDhWMTFoOHYxMGgtOFpNMyAyMXYtNmg4djZIM1oiLz48L3N2Zz4=" />
</head>

<div class="w-full h-full flex flex-col p-12 [html,body]:(w-full,min-h-full,lg:h-full,bg-zinc-700,text-white)">
  <noscript><img src="https://picsum.photos/1200/800" class="w-full h-full absolute inset-0 z-2"></noscript>
  <img id="bgPhoto" class="w-full h-full absolute inset-0 z-2" />

  <div class="absolute inset-0 z-3 bg-[color:rgba(0,0,0,0.2)] mix-blend-multiply" />

  <div class="w-full h-full z-5 flex flex-col">
    <div class="flex justify-between mb-16">
      <div class="space-y-8">
        <h3 class="text-xl">{{ date }}</h3>
        <h1 class="text-5xl font-black">{{ time.hour < 7 ? "Good night!" : time.hour < 12 ? "Good morning!" : time.hour
            < 20 ? "Good afternoon!" : "Good night!" }}</h1>
      </div>
      <div class="flex gap-4 h-12 flex-wrap justify-end">
        <form method="POST" action="/set-background" class="h-full">
          <input type="hidden" id="photoBgSeed" name="bg-seed" value="" />
          <button id="setButton" class="cursor-pointer flex items-center bg-white text-zinc-800
          px-4 py-2 h-full rounded space-x-4 hover:bg-zinc-100" data-set="{{ bg_seed != null }}">
            <p class="font-bold text-md lg:text-xl">{{ bg_seed == null ? "Set" : "Unset" }} background</p>
          </button>
        </form>
        <button class="cursor-pointer flex items-center bg-white text-zinc-800
        px-4 py-2 rounded space-x-4 hover:bg-zinc-100" onclick="extendedWeather.open = true">
          <p class="font-bold text-md lg:text-xl">{{ round(weather.main.temp * 10) / 10 }}°C</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor" d="{{ weather_svg_icon }}" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex-1 grid grid-cols-1 grid-rows-3 lg:grid-cols-3 lg:grid-rows-2 gap-6 overflow-hidden">
      <div class="flex flex-col bg-white text-zinc-800 lg:row-span-2 rounded-xl p-4
      shadow-lg">
        <div class="text-sm mb-6 text-black">
          {{ random_logseq_page[0] }} (modified <i>{{ random_logseq_page[2] }}</i>)
        </div>
        <div class="prose prose-slate break-words overflow-auto w-full h-full max-w-none">
          {! random_logseq_page[1] !}
        </div>
      </div>

      <div class="bg-white text-zinc-800 lg:row-span-2 rounded-xl overflow-auto p-4
      shadow-lg overflow-hidden">
        {% if todos_logseq_page == null %}
        <div class="text-sm mb-6 text-black">
          /clock (started at <i>{{
            (time.hour > 9 ? to_string(time.hour) : "0" + to_string(time.hour))
            + ":" + (time.minute > 9 ? to_string(time.minute) : "0" + to_string(time.minute))
            + ":" + (time.second > 9 ? to_string(time.second) : "0" + to_string(time.second))
            }}</i>)
        </div>
        <div class="flex w-full h-full items-center justify-center">
          <div class="relative w-50 h-50">
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[0deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[30deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[60deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[90deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[120deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[150deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[180deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[210deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[240deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[270deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[300deg] skew-y-[-36deg] rounded-full"></div>
            <div class="absolute w-50 h-50 bg-zinc-300
              rotate-[330deg] skew-y-[-36deg] rounded-full"></div>

            <div class="absolute w-8 h-8 z-5 left-1/2 top-[calc(0px-50%+4rem)] bg-indigo-500
              animate-[circle-seconds_60s_infinite_linear]
              origin-[0_8rem] rounded-full"></div>
            <div class="absolute z-4 w-7 h-40 left-[calc(50%-1rem)] top-[calc(0px-50%+2.5rem)] bg-rose-500 rounded-full
              origin-[center_bottom] animate-[circle-minutes_3600s_infinite_linear]"></div>
            <div class="absolute z-3 w-10 h-30 left-[calc(50%-1rem)] -top-5 bg-emerald-500 rounded-full
              origin-[center_bottom] animate-[circle-hours_43200s_infinite_linear]"></div>
          </div>
        </div>
        {% else %}
        <div class="prose prose-slate break-words overflow-auto w-full h-full max-w-none">
          <div class="text-sm mb-6 text-black">
            /todos ({{ len(todos_logseq_page) }})
          </div>
          <ul>
            {% for todo in todos_logseq_page %}
            <li>{{ todo.content }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="flex flex-col bg-white text-zinc-800 rounded-xl overflow-auto p-4 shadow-lg">
        <div class="text-sm mb-6 text-black">
          /xkcd (<i>{{ xkcd.title }}</i>)
        </div>
        <div class="flex flex-wrap justify-evenly gap-4 overflow-auto w-full h-full">
          <img class="h-full" src="{{ xkcd.img }}">
        </div>
        <div class="text-sm mt-6 text-black">
          <i>{{ xkcd.alt }}</i>
        </div>
      </div>

      <div class="flex flex-col bg-white text-zinc-800 rounded-xl overflow-auto p-6 shadow-lg">
        <div class="text-sm mb-6 text-black">
          /bookmarks ({{ len(bookmarks) }})
        </div>
        <div class="flex flex-wrap justify-evenly gap-4 overflow-auto w-full h-full">
          {% for bookmark in bookmarks %}
          <a href="{{ bookmark.link }}" target="_blank"
            class="flex flex-col h-min items-center justify-center duration-200 hover:text-orange-500">
            <span class="i-{{ bookmark.icon }} w-8 h-8"></span>
            {{ bookmark.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<dialog class="absolute hidden open:flex flex-col gap-4 w-2/3 h-2/3 top-1/2 left-1/2 -translate-x-1/2
  -translate-y-1/2 z-1000 rounded-lg shadow-2xl" id="extendedWeather">
  <form class="w-full flex justify-end items-center">
    <button value="cancel" formmethod="dialog"><span class="i-material-symbols-close-rounded w-8 h-8"></span></button>
  </form>
  <iframe src="https://openweathermap.org/city/{{ weather_city }}" class="w-full h-full"></iframe>
</dialog>

<style>
@keyframes circle-seconds {
  0% { transform: rotate({{ time.second / 60 * 360 }}deg); }
  100% { transform: rotate({{ time.second / 60 * 360 + 360 }}deg); }
}

@keyframes circle-minutes {
  0% { transform: rotate({{ time.minute / 60 * 360 }}deg); }
  100% { transform: rotate({{ time.minute / 60 * 360 + 360 }}deg); }
}

@keyframes circle-hours {
  0% { transform: rotate({{ time.hour / 12 * 360 }}deg); }
  100% { transform: rotate({{ time.hour / 12 * 360 + 360 }}deg); }
}
</style>

<script>
  // If JS is enabled, load background image from screen dimensions and use a
  // seed to set the image if requested
  const randomString = (length) => {
    let result = '';
    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    const charactersLength = characters.length;
    let counter = 0;
    while (counter < length) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
      counter += 1;
    }
    return result;
  };
  const photoSeed = {! bg_seed == null ? "randomString(12)" : '"' + bg_seed + '"'!};
  photoBgSeed.value = {! bg_seed == null ? "photoSeed" : '""'!};
  bgPhoto.src = `https://picsum.photos/seed/${photoSeed}/${document.body.clientWidth + 100}/${document.body.clientHeight + 100}`;

  extendedWeather.addEventListener("close", () => extendedWeather.open = false);
</script>
